{% extends "main/base.html" %}
{% block title %} <title>Login</title> {% endblock %} 
{% load crispy_forms_tags %}


{% block loginform %} 
<div class="div-center">
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <button type="submit" class="btn btn-primary btn-lg mr-2"> Login </button>
    </form>
    
</div>

{% endblock %}

<!-- {% block logincontent %} Already logged in. Click <a href="/home"> here </a> {% endblock %} -->