{% extends "main/base.html" %}


{% block content %}
        {% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header">Buy and Sell</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                            <div class="mb-3">
                                <label for="BuyOrSell">Coin Type, e.g. BTCUSDT</label>
                                <input type="text" class="form-control" name="BuyOrSell">
                            </div>
                            <div class="mb-3">
                                <label for="HowMuch">Amount</label>
                                <input type="number" class="form-control" name="HowMuch">
                            </div>
                            <button type="submit", name="buy", value="buy" class="btn btn-primary">Buy Coin</button>
                            <button type="submit", name="sell", value="sell" class="btn btn-primary">Sell Coin</button>
                            {% if not found %}
                                <p>Error, check values entered</p>
                            {% endif %}

                            <p class="card-header">Owned Coins</p>
                            {% for coin in coins %}
                                {% if coin.amount != 0%}
                                <p>{{coin.coinName}} --- {{coin.amount}}</p>
                                {% endif %}
                            {% endfor %}
                    </form>
                </div>
            </div>
          </div>        
      </div>
    </div>

<style>
.container {
margin-top: 50px;
}
.title{
    font-weight: bold;
    font-size: 1.2em;
    
}

.card-header {
font-weight: bold;
font-size: 1.2em;
text-align: center;
}
p{
    text-align: center;
}
</style>
</div>  

{% endblock %}
