{% extends "main/base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}    
        <label for="BuyOrSell">What coin would you like to buy or sell, e.g. BTCUSDT</label><br>
        <input type="text", name="BuyOrSell"><br>
        <label for="HowMuch">How much of the coin would you like to buy or sell?</label><br>
        <input type="number", step="0.0001" name="HowMuch"><br>

        <button type="submit", name="buy", value="buy" class="btn btn-primary">Buy Coin</button>
        <button type="submit", name="sell", value="sell" class="btn btn-primary">Sell Coin</button>

    </form>

    {% if not found %}
        <p>Error, check values entered</p>
    {% endif %}

    <p>Owned Coins:</p>
    {% for coin in coins %}
        {% if coin.amount != 0%}
        <p>{{coin.coinName}} --- {{coin.amount}}</p>
        {% endif %}
    {% endfor %}

    <!--
    {% for item in tickers %}
        {% if item.symbol|slice:"-4:" == "USDT" %}
            <p>{{ item.symbol }} ---- {{ item.price }}</p>
        {% endif %}
    {% endfor %} 
    -->

{% endblock %}
