{% extends "main/base.html" %}
{% block title %} Personal Information {% endblock %}

{% block content %}
<div class="row h-100 ">
    <!-- Side nav -->
    <div class="col-sm-2 bg-dark text-light d-none d-lg-flex" id="navbarText">
                <div class="side-nav">
                  <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'CryptoList' %}">Exchange List</a>
                          </li>   
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'watchlist' %}">Watchlist</a>
                          </li>
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'exam' %}">Beginner Exam/Revision</a>
                          </li>
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'tickets' %}">Submit Ticket</a>
                          </li>
                          <li class="nav-item">
                              <a class='nav-link' href="/yettobemade">Deposit or Withdraw</a></li>
                          </li>
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'previousTrades' %}">View Trades</a></li>
                          </li>
                          <li class="nav-item">
                              <a class='nav-link' href="{% url 'personal_info' %}">Personal Information</a>
                          </li>
                  </ul>
                </div>
          </div>
          <!-- Main Content goes in here -->
          <div class="col bg-light w-100">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">{{ first_name }} {{ last_name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Personal Information</h5>
                            {% if address %}
                                <p class="card-text">Address: {{ address.street_name }}, {{ address.city }}, {{ address.post_code }}, {{ address.country }}</p>
                            {% else %}
                                <p class="card-text">Address: N/A</p>
                            {% endif %}
                            <p class="card-text">Phone Number: {{ phone_number }}</p>
                            <p class="card-text">Account Balance: {{ account_balance }}</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>

{% endblock %}