{% extends "main/base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
        <th scope="col">Coin</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for trade in trades %}
            <tr>
                <th>{{trade.coinName}}</th>
                <td>{{trade.price}}</td>
                <td>{{trade.type}}</td>
                <td>{{trade.time}}</td>
            </tr>
        {% endfor %} 
    </tbody>
</table>


    <!--{% for trade in trades %}
        <p>{{trade.coinName}} -- {{trade.price}} -- {{trade.type}} -- {{trade.time}}</p>
    {% endfor %}-->

{% endblock %}