{% extends "main/base.html" %}
{% block content %}
    <table class='table table-striped' id="ticketList">
        <thead>
            <tr>
              <th><h4>Tickets sent</h4></th>
              <th><a class="btn btn-primary " href="{% url 'create-ticket' %}" role="button">Create a Ticket</a></th>
            </tr>
            <tr>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Query</th>
            </tr>
        </thead>
        <tbody>
            {% if list %}
                {% for item in list %}
                    <tr>
                        <td>{{item.user}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.query}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td>No Tickets avilable</td>
                    </tr>
            {% endif %}
        </tbody>
    </table>



{% endblock %}