{% extends "main/base.html" %}
{% block content %}
    <table class='table' id="ticketList">
        <thead>
            <tr>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Query</th>
            </tr>
        </thead>
        <tbody>
            {% if list %}
                {% for item in list %}
                    <tr>
                        <td>{{item.user}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.query}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td>No Tickets avilable</td>
                    </tr>
            {% endif %}
        </tbody>
    </table>

{% load crispy_forms_tags %}
<div class="form-group">
    <form method="post">
      {% csrf_token %} 
      {{ form|crispy }} 
      <div class="form-group">
        {{ formset.as_p }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


{% endblock %}