{% extends "main/base.html" %}

{% block title %} Create new List {% endblock %}



{% block content %}
    <form method="post", action="#">
        {% csrf_token %}
        {{form.as_p}}    
        <label for="BuyOrSell">What coin would you like to buy or sell</label><br>
        <input type="text", name="BuyOrSell"><br>
        <button type="submit", name="buy", value="buy">Buy Coin</button>
        <button type="submit", name="sell", value="sell">Sell Coin</button>

    </form>


    {% for item in tickers %}
        {% if item.symbol|slice:"-4:" == "USDT" %}
            <p>{{ item.symbol }} ---- {{ item.price }}</p>
        {% endif %}
    {% endfor %} 

{% endblock %}
