{% extends "main/base.html" %}

{%block content%}
<h1>This is Watchlist</h1>
{{item}}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Coin</th>
          <th scope="col">Ticker</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
         {% for item in items %}
            <tr>
                <th>{{item.coin.coinName}}</th>
                <td>{{item.coin.ticker}}</td>
                <td>{{item.coin.price}}</td>
                <td><a href="{% url 'deleteItem' item.id %}" class="btn btn-danger">delete</a></td>
            </tr>
         {% endfor %} 
      </tbody>
</table>
<form method="POST" class="form-group">
  {% csrf_token %}
  {{form}}
  <button type="submit" class="btn btn-primary btn-sm ">Add</button>
</form>


{% endblock %}