{% extends "main/base.html" %}
{% load crispy_forms_tags %}



{%block content%}

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<div id="ans" class="font-weight-bold text-primary h1"></div>
                        <br>
						
					</div>
				</div>
			</div>
		</div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id=finalScore class="font-italic text-muted h6"> </div>
                        <div id="comment" class="font-italic text-muted h6"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>



	<script>
		

        const score = sessionStorage.getItem('score');
		const ansDiv = document.getElementById('ans');
        const scoreDiv = document.getElementById('finalScore')
        const commentDiv = document.getElementById('comment')


		ansDiv.innerHTML = sessionStorage.getItem('result');

        if (score >= 5) {
            console.log("You passed"); 
            ansDiv.innerHTML = `<h2> Well done you passed! </h2>`
            scoreDiv.innerHTML = sessionStorage.getItem('result');
            commentDiv.innerHTML = `<p> Congratulations!, you're account is now eligible for an upgrade in becoming an advanced user</p>`
        } else {
            console.log("You failed");
            ansDiv.innerHTML = `<h2> Sorry,  you failed! </h2>`
            scoreDiv.innerHTML = sessionStorage.getItem('result');
            commentDiv.innerHTML = `<p> Please try this quiz again. you must receive a pass mark of 70% in order to be eligible for an account upgrade </p>`
        }
	</script>

{%endblock%}

